# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  workflow_dispatch:
  #push:
    #branches: [ "master" ]
  #pull_request:
  #  types:
  #    - opened
  #  branches: [ "master" ]
  #pull_request_target:
  #  branches: [ "master" ]
  #  types:
  #    - closed
    
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: goaaroregistry.azurecr.io
  # github.repository as <account>/<repo>
  # IMAGE_NAME: ${{ github.repository }}
 # IMAGE_NAME1: permit-api
 # IMAGE_NAME2: permit-fe
  APP: AspNetCoreWebApi6
  APP-IMAGE: aspnetcorewebapi6
  GIT_DEPLOY_REPO: dlh-dev-demoapp-manifests
  GH_TOKEN: ${{ github.token }}

  eOPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
  eOPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
  OPENSHIFT_NAMESPACE: "dlh-dev"

jobs:
  fetch:
    name: Code checkout and Sonar code scan
    #if: github.event_name == 'pull_request'
    #if: github.event_name == 'pull_request' && startsWith(github.head_ref, 'dev')
 
    runs-on: ubuntu-latest
    #environment: 
    #  name: Dev
    steps:
    - name: Install OpenShift client
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: 4
    - name: Log in to OpenShift
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ env.eOPENSHIFT_SERVER }}
        openshift_token: ${{ env.eOPENSHIFT_TOKEN }}
        insecure_skip_tls_verify: true
        namespace: ${{ env.OPENSHIFT_NAMESPACE }}
        

    - name: Install self hosted runners for actions-demo-app repository
      uses: redhat-actions/openshift-actions-runner-installer@v1
      id: install-runners 
      with: 
        github_pat: ${{ secrets.PAT }}     
        runner_image: quay.io/vishwanath_puranik/sonar-dotnet-runner    # Default: quay.io/redhat-github-actions/runner [https://quay.io/organization/redhat-github-actions]
        runner_labels: demo-runner                                    # Options: ./node-runner-14 ./java-runner-11 ./buildah-runner
        runner_replicas: 1
    - name: Echo outputs
      shell: bash
      run: |
        echo "${{ toJSON(steps.install-runners.outputs) }}"
